<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/note"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentNote?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>

  <span>
  <h2>{{ currentNote?.body }}</h2>
</span>
</ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="removeNoteAlert()">
    <ion-icon name="remove"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
